## Importing the required libraries

In [2]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

## Load the Titanic dataset

In [4]:
titanic_data = pd.read_csv('titanic.csv')
titanic_data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,0,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,0,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,0,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

## Define the features and targets

In [6]:
features = titanic_data[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']].copy()
targets = titanic_data['Survived'].copy()

## Impute missing values in the age and fare columns using mean imputation

In [8]:
imputer = SimpleImputer(strategy='mean')
features[['Age', 'Fare']] = imputer.fit_transform(features[['Age', 'Fare']])

## Convert categorical features to numerical using one-hot encoding

In [10]:
features = pd.get_dummies(features, columns=['Pclass', 'Sex', 'Embarked'])

## Split the data into features and targets

In [12]:
XS = features.values.astype('float32')
YS = targets.values.astype('float32')

## Split the data into train and test sets

In [14]:
x_train, x_test, y_train, y_test = train_test_split(XS, YS, test_size=0.125, random_state=42)

## Define the Keras model

In [16]:
model = Sequential([
    Dense(64, activation='relu', input_shape=(x_train.shape[1],)),
    Dense(64, activation='relu'),
    Dense(1, activation='sigmoid')
])

C:\Users\bikra\anaconda3\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

## Compile the model

In [18]:
model.compile(optimizer=tf.keras.optimizers.Adam(learning_rate=0.001),
              loss='binary_crossentropy', metrics=['accuracy'])

## Train the model on the training data

In [ ]:
history = model.fit(x_train, y_train, epochs=50, validation_split=0.2, batch_size=25, verbose=2)

Epoch 1/50
12/12 - 4s - 357ms/step - accuracy: 0.6678 - loss: 0.9858 - val_accuracy: 0.6575 - val_loss: 0.6228
Epoch 2/50
12/12 - 0s - 12ms/step - accuracy: 0.6747 - loss: 0.5720 - val_accuracy: 0.6575 - val_loss: 0.5992
Epoch 3/50
12/12 - 0s - 13ms/step - accuracy: 0.7500 - loss: 0.5180 - val_accuracy: 0.6438 - val_loss: 0.6346
Epoch 4/50
12/12 - 0s - 12ms/step - accuracy: 0.6986 - loss: 0.5408 - val_accuracy: 0.6712 - val_loss: 0.5145
Epoch 5/50
12/12 - 0s - 12ms/step - accuracy: 0.8185 - loss: 0.4517 - val_accuracy: 0.7808 - val_loss: 0.4527
Epoch 6/50
12/12 - 0s - 13ms/step - accuracy: 0.8699 - loss: 0.4020 - val_accuracy: 0.8219 - val_loss: 0.4104
Epoch 7/50
12/12 - 0s - 13ms/step - accuracy: 0.8836 - loss: 0.3757 - val_accuracy: 0.8767 - val_loss: 0.4050
Epoch 8/50
12/12 - 0s - 13ms/step - accuracy: 0.9623 - loss: 0.3325 - val_accuracy: 0.9178 - val_loss: 0.3701
Epoch 9/50
12/12 - 0s - 14ms/step - accuracy: 0.9452 - loss: 0.3147 - val_accuracy: 0.9589 - val_loss: 0.3253
Epoch 10/50
12/12 - 0s - 16ms/step - accuracy: 0.9760 - loss: 0.2691 - val_accuracy: 0.9726 - val_loss: 0.2756
Epoch 11/50
12/12 - 0s - 15ms/step - accuracy: 0.9555 - loss: 0.2571 - val_accuracy: 0.9726 - val_loss: 0.2442
Epoch 12/50
12/12 - 0s - 15ms/step - accuracy: 0.9863 - loss: 0.2030 - val_accuracy: 0.9726 - val_loss: 0.2059
Epoch 13/50
12/12 - 0s - 14ms/step - accuracy: 0.9795 - loss: 0.1874 - val_accuracy: 0.9315 - val_loss: 0.2300
Epoch 14/50
12/12 - 0s - 14ms/step - accuracy: 0.9897 - loss: 0.1629 - val_accuracy: 1.0000 - val_loss: 0.1550
Epoch 15/50
12/12 - 0s - 14ms/step - accuracy: 0.9863 - loss: 0.1460 - val_accuracy: 0.9452 - val_loss: 0.1647
Epoch 16/50
12/12 - 0s - 14ms/step - accuracy: 0.9555 - loss: 0.1933 - val_accuracy: 0.9315 - val_loss: 0.2519
Epoch 17/50
12/12 - 0s - 15ms/step - accuracy: 0.9521 - loss: 0.1872 - val_accuracy: 0.9041 - val_loss: 0.2515
Epoch 18/50
12/12 - 0s - 15ms/step - accuracy: 0.9863 - loss: 0.1310 - val_accuracy: 0.9589 - val_loss: 0.1267
Epoch 19/50
12/12 - 0s - 14ms/step - accuracy: 0.9863 - loss: 0.1181 - val_accuracy: 1.0000 - val_loss: 0.0886
Epoch 20/50
12/12 - 0s - 14ms/step - accuracy: 0.9966 - loss: 0.0813 - val_accuracy: 0.9726 - val_loss: 0.1081
Epoch 21/50
12/12 - 0s - 14ms/step - accuracy: 0.9966 - loss: 0.0743 - val_accuracy: 1.0000 - val_loss: 0.0610
Epoch 22/50
12/12 - 0s - 13ms/step - accuracy: 0.9966 - loss: 0.0604 - val_accuracy: 1.0000 - val_loss: 0.0522
Epoch 23/50
12/12 - 0s - 14ms/step - accuracy: 0.9863 - loss: 0.0815 - val_accuracy: 0.9863 - val_loss: 0.0697
Epoch 24/50
12/12 - 0s - 15ms/step - accuracy: 0.9966 - loss: 0.0506 - val_accuracy: 1.0000 - val_loss: 0.0460
Epoch 25/50
12/12 - 0s - 14ms/step - accuracy: 0.9966 - loss: 0.0446 - val_accuracy: 1.0000 - val_loss: 0.0478
Epoch 26/50
12/12 - 0s - 14ms/step - accuracy: 1.0000 - loss: 0.0394 - val_accuracy: 1.0000 - val_loss: 0.0384
Epoch 27/50
12/12 - 0s - 13ms/step - accuracy: 1.0000 - loss: 0.0338 - val_accuracy: 0.9863 - val_loss: 0.0434
Epoch 28/50
12/12 - 0s - 14ms/step - accuracy: 1.0000 - loss: 0.0350 - val_accuracy: 1.0000 - val_loss: 0.0281
Epoch 29/50
12/12 - 0s - 28ms/step - accuracy: 0.9966 - loss: 0.0353 - val_accuracy: 0.9863 - val_loss: 0.0470
Epoch 30/50
12/12 - 0s - 14ms/step - accuracy: 0.9966 - loss: 0.0375 - val_accuracy: 0.9863 - val_loss: 0.0504
Epoch 31/50
12/12 - 0s - 14ms/step - accuracy: 0.9897 - loss: 0.0639 - val_accuracy: 0.9726 - val_loss: 0.0680
Epoch 32/50
12/12 - 0s - 14ms/step - accuracy: 0.9829 - loss: 0.0705 - val_accuracy: 1.0000 - val_loss: 0.0347
Epoch 33/50

## Evaluate the model on the testing data

In [ ]:
test_loss, test_acc = model.evaluate(x_test, y_test, verbose=0)
print('Test accuracy:', test_acc)

## Print the loss and accuracy after each epoch during training

In [ ]:
for epoch, metrics in enumerate(history.history):
    print('Epoch', epoch+1, metrics)

## Checking loss per epoch

In [ ]:
loss=history.history['loss']
validation_loss=history.history['val_loss']

## Checking overfitting

In [ ]:
plt.plot(loss)
plt.plot(validation_loss)
plt.show()

## Making predictions on the test set

In [ ]:
abs_prediction = model.predict(x_test)
prediction = (abs_predictions > 0.5).astype("int64")

## Print both the actual test label and predicted value for comparison

In [ ]:
print(prediction.flatten())
print(y_test)